.ddzx{
    height: 37px;
    color: #666;
    line-height: 36px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 14px;
}
.fl{
    display: flex;
}
.yhtx{
    width: 74px;
    height: 74px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px;
    margin-top: 30px;
}
.zl{
    color: #666;
    width: 300px;
    padding: 20px 10px;
    box-sizing: border-box;
    font-size:14px ;
}
.zl div{
    line-height: 30px;
}
.zl label input{
    margin-left: 10px;
}
.layui-form-label {
    float: left;
    display: block !important;
    padding: 9px 0px !important;
    width: 32px !important;
    text-align: left !important;
}
.qrxg{
    color: #fff;
    background-color: #b31e22;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 10px;
}